body {
  background-color: bisque;
}

header {
  padding-top: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

footer {
  bottom: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
