body {
  margin: 0;
  background-color: #e5e5f7;
  background-image: radial-gradient(#444cf7 0.8500000000000001px, transparent 0.8500000000000001px), radial-gradient(#444cf7 0.8500000000000001px, #e5e5f7 0.8500000000000001px);
  background-size: 34px 34px;
  background-position: 0 0, 17px 17px;
}

header {
  height: 10vh;
}

.navbar {
  justify-content: space-around;
}

#astronaut {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  padding: 30px;
}

i.fas.fa-user-astronaut {
  transform: scale(3);
}

a {
  font-size: x-large;
  text-decoration: none;
  color: #586B6A;
  font-weight: 500;
  padding: 5px;
}

.person {
  display: flex;
  flex-direction: column;
  background-color: #5FB8B5;
  padding: 20px;
  border-radius: 20px;
  gap: 10px;
}

.person-img {
  height: 100%;
  width: 100%;
}

.title-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heart {
  color: tomato;
}

.overlay-project {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  min-height: 100vh;
  width: 100%;
  padding: 4rem;
  background-color: #c1c7d0e7;
  z-index: 2;
  overflow: auto;
}

.displayover {
  display: flex;
  padding: 100px;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flexbox-popup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
  width: 100vw;
}

.popup-title {
  text-align: center;
}

h2.comment-title {
  text-align: center;
}

.close {
  transform: scale(3);
}

img.popup-image {
  width: 20vh;
}

footer {
  bottom: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}